<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../../layout/head.ejs'); %> 
</head>
<body>
    <%- include('../../layout/header.ejs'); %> 

    <main>
        <%- include('./detail', {book: book}); %> 
    </main>

  <h1>Thank you for your search</h1>

  <ul>
    <% books.forEach(book => { %>
      <li>
        <h3><%= book.title %></h3>
        <img src=<%=book.image_url %>>
        <h3><%= book.title %></h3>
          <h4><%= book.author %></h4>
          <p><%= book.description %></p>
           <p> ISBN: <% book.isbn %></p>
          <p> Bookshelf: <%= book.bookshelf %></p> 
          <form action="/book" method="POST">
            <input type="hidden" value"<%= book.title %>" name
          </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>