<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../../layout/head.ejs'); %> 
</head>
<body>
    <%- include('../../layout/header.ejs'); %> 

    <main>
        <%- include('./detail', {book: book}); %> 
    </main>

  <!-- <ul>
    <%=book.id %>
      <li>
        <h3><%= book.title %></h3>
        <img src=<%=book.image_url %>>
        <h3><%= book.title %></h3>
          <h4><%= book.author %></h4>
          <p><%= book.description %></p>
           <p> ISBN: <% book.isbn %></p>
          <p> Bookshelf: <%= book.bookshelf %></p> 
          <form action="/book" method="post">
            <input type="hidden" value"<%= book.title %>" name
          </form>
      </li>
  </ul> -->
  <%- include('../../layout/footer') %>
</body>
</html>