<!DOCTYPE html>
<html lang="en">
    <%- include('../../layout/head.ejs'); %> 

<body>
    <%- include('../../layout/header.ejs'); %> 
  <section>
    <h2>Search Results</h2> 
  </section>
  <main>

  <ul>
      <% books.forEach(book => { %>
        
        <li>
          <img src=<%=book.image_url %>>
          <h3><%= book.title %></h3>
          <h4><%= book.author %></h4>
          <p><%= book.description %></p>
          <!-- <p> ISBN: <% book.isbn %></p> -->
          <form action="/book" method="post">
          <button class="select-book" name="select">Select this Book</button>
          </form>
          <!-- <p> Bookshelf: <%= book.bookshelf %></p>
          <button><a href="/details/<%=book.id%>">View Details</a> </button> -->
        </li>
        <section>
          <form action="/save" method="post">
            <input name="title" class="text-input" type="text" name="search" value="<%= book.title %>" required>
            <input name="title" class="text-input" type="text" name="search" value="<%= book.author %>" required>
            <input name="title" class="text-input" type="text" name="search" value="<%= book.isbn %>" required>
            <input name="title" class="text-input" type="text" name="search" value="<%= book.image_url %>" required>
            <textarea name="description" class="text-input" cols="30" rows="10" required><%= book.description %></textarea>
            <input name="bookshelf" class="text-input" type="text" name="search" placeholder="Enter bookshelf name" required>
            <button id="add-form-submit" type="submit">Add to Database</button>
          </form>
        </section>
      <% }) %>
    </ul>
  </main>
</body>
</html>

