<!DOCTYPE html>
<html lang="en">
    <%- include('../../layout/head.ejs'); %> 

<body>
    <%- include('../../layout/header.ejs'); %> 
  <section>
    <h2>Search Results</h2> 
  </section>
  <main>

  <ul id="select">
      <% let j = 0; %>
      <% books.forEach(book => { %>
        
        <li>
          <img src=<%=book.image_url %>>
          <h3><%= book.title %></h3>
          <h4><%= book.author %></h4>
          <p><%= book.description %></p>
          <!-- <p> ISBN: <% book.isbn %></p> -->
          
          <button class="show-form" name="select" value="<%= j %>">Select this Book</button>
          
          <!-- <p> Bookshelf: <%= book.bookshelf %></p>
            <button><a href="/new/<%=book.id%>">Select this Book</a> </button> -->
            <form class="<%=j%>" action="/save" method="post">
              <input name="title" class="text-input" type="text" name="search" value="<%= book.title %>" required>
              <input name="author" class="text-input" type="text" name="search" value="<%= book.author %>" required>
              <input name="isbn" class="text-input" type="text" name="search" value="<%= book.isbn %>" required>
              <input name="image_url" class="text-input" type="text" name="search" value="<%= book.image_url %>" required>
              <textarea name="description" class="text-input" type="text" cols="30" rows="10" required><%= book.description %></textarea>
              <input name="bookshelf" class="text-input" type="text" name="search" placeholder="Enter bookshelf name" required>
              <!-- <input id="add-form-submit" type="submit">Add to Database</input> -->
              <button id="add-form-submit" type="submit">Add to Database</button>
              
            </form>
        </li>
       
        <% j++ %>
      <% }) %>

    </ul>
  </main>

  <%- include('../../layout/footer') %>
</body>
</html>
