<!DOCTYPE html>
<html lang = "en">
<head>
  <%- include('../layout/head.ejs'); %>
  <link rel="stylesheet" href="/public/styles/base.css">
</head>
<body>
    <%- include('../layout/header.ejs'); %>

    <section>
        <h2><span><%= books.length %></span>Saved Books</h2>
      </section>
      <main>
        <ul>
          <% books.forEach(book => { %>
            <li data-id="<%= book.id %>">
              <img src=<%= book.image_url %>>
              <h3><%= book.title %></h3>
              <p><%= book.author %></p>
              <a href="books/<%= book.id %>">
                <button>View Details</button>
              </a>
            </li>
          <% }) %>
        </ul>
      </main>
      <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  </body>
  </html>

